[Desktop Entry]
Name=BloatWorlds
GenericName=Online multi-player 2D platform shooter
Type=Application
Terminal=false
Exec=bloatworlds
Icon=bloatworlds
Comment=A custom client of Teeworlds
Categories=Game;ArcadeGame;
